*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--blue);
    font-family: 'Montserrat', 'Poppins', sans-serif;
}

:root{
    --blue: #215BFF;
    /* --blue: #285cfc; */
    --green: #08dc64;
    --green-l: #08bc5c;
    --gray: #bbbbbb;
    --error: red;
    font-size: 16px;
}